<div class="navbar-lewagon navbar-fixed-top">
  <a class="navbar-brand" href="">
    <i id="logo" class="fas fa-cocktail fa-2x"></i>
  </a>
      <h2><%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-lg btn-outline-warning mt-5" %></h2>
</div>
