.card-cocktail{
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 0px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  padding: 0 5px 0 5px;
}
