.card-cocktail {
  height: 50vh;
  width: auto;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 0px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  padding: 0 5px 0 5px;
  border-radius: 2px;
  opacity: 0.85;
    h3 {
    color: #fb9616;
    padding-left: 10px;
    margin-top: 10px;
    position: absolute;
    font-weight: bolder;
    opacity: 0;
    text-decoration: none;
    }
    h3:hover{
      opacity: 1;
    }
}

.card-cocktail i {
  font-size: 1.25em;
  margin-top: 38vh;
}
.card-cocktail:hover {
  opacity: 1;
  transform: scale(1.09);
}

.card-cocktail-show {
  height: 70vh;
  width: auto;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 0px;
  padding: 0 5px 0 5px;
  border-radius: 2px;
  opacity: 0.85;
  margin-top: 40px;
}

.ingredient-card {
  width: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-top: 20px;
  margin-right: 0px;

}

.card.ingredient {
  height: 110px;
  width: 110px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  background-color: unset;
  position: relative;
  margin: 0px 15px;
  border-radius: 2px;
  box-shadow: 0px;
  text-align: center;
     h5 {
    font-size: 20px;
    margin-top: 0px;
  }
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    margin-top: 10px;
    color: lightgray;
    padding: 0;
}
.far {
  color: orange;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(250,250,250,1);
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.card-description h1 {
      padding-top: 30px;

}

h1,h2,h3 {
  color: lightgray;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating-container {
  display: inline-block;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: lightgray;
 float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: orange;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: lightgray;  }
