.navbar-lewagon {
  justify-content: space-between;
  height: 30px;
  padding: 40px 40px;
  background: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s background-color ease;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  #logo {
    padding-top: 10px;
  }
  .btn-outline-warning {
    transition: 0.5s background-color ease;
  }
}

